button, button:active, button:hover, button:visited {
  background:none;
  border:none;
  text-decoration:none;
  outline: none !important;
}

hr {
  width: 50%;
  background: 0;
  height: 1px;
  background-image:-webkit-linear-gradient(left, rgba(0,0,0,0),  rgba(25,38,58,0.75), rgba(0,0,0,0));
  background-image:-moz-linear-gradient(left, rgba(0,0,0,0),  rgba(25,38,58,0.75), rgba(0,0,0,0));
  background-image:-ms-linear-gradient(left, rgba(0,0,0,0),  rgba(25,38,58,0.75), rgba(0,0,0,0));
  background-image:-o-linear-gradient(left, rgba(0,0,0,0), rgba(25,38,58,0.75), rgba(0,0,0,0));
}

.god {
  text-align:center;
}

.god-pic-holder {
  max-width:200px;
  max-height:200px;
  height: 200px;
  border-radius:50%;
  /*border: 5px solid #78593C;*/
  box-shadow: 0px 0px 20px black;
  overflow: hidden;
  display:block;
  margin:auto;
  margin-bottom: 10px;
  transition: all linear 0.5s;
}

.fadeable {
  transition: all linear 0.5s;
}

.ng-hide {
  opacity: 0;
}

.ng-show {
  opacity: 1;
}

.god-name {
  margin-top:10px;
  font-size: 32px;
  font-family: 'bungee', cursive;
}

.god-title {
  margin-top:-15px;
  font-size: 30px;
  font-weight: bold;
}

.god-class-pantheon {
  margin-top: -20px;
  font-size: 24px;
}

#logo {
  margin: 0 auto;
  text-align:center;
  margin-top: 50px;
  margin-bottom: 50px;
}

img {
  max-width: 100%;
  height: auto;
  width: auto/9;
}

#randomizer {
  width: 100%;
  text-align:center;
}

.logo-text {
  font-size: 32px;
  text-align:center;
  /*color: #FFEE68;*/
  color: #78593C;
}

.background {
  background-color: #78593C;
  text-align:center;
}

.foreground {
  background-color: #FDFCF8;
  box-shadow: inset 0px 0px 60px black, 0px 0px 60px black;
  min-height: 100vh;
  height: 100%;
  padding-bottom: 50px;
}

.error-text {
  font-family: 'Jim Nightshade', cursive;
  transition: 0.5s linear all;
  font-size: 28px;
  color: #78593C;
}

.error-holder {
  height: 30px;
}

.ng-show {
  opacity: 1;
}

.ng-hide {
  opacity: 0;
}

@media (min-width: 1000px) {
  .midground {
    display:inline-block;
    width: 75%;
    max-width: 1500px;
    margin: 0 auto;
    background-color:#FFD34B;
    box-shadow: inset 0px 0px 60px black, 0px 0px 60px black;
  }
}

@media (max-width: 1000px) {
  .spacer {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.holder {
  margin-top: 25px;
}

.holder.less {
  margin-top: 15px;
}

.button {
  width: auto;
  padding: 5px 10px;
  font-family: 'Bungee', cursive;
  font-size: 24px;
  background:none;
  box-shadow: 0px 0px 20px #78593C;
  border-radius: 10px;
  border: 2px solid #78593C;
  color: #78593C;
  margin: 5px;
  transition: 0.5s linear all;
}

.button:disabled, .button:hover:disabled {
  border-color: grey;
  color: grey;
  box-shadow: 0px 0px 20px black;
  pointer-events: auto;
}

.button.small {
  font-size: 18px;
}

.button.filter {
  display:inline-block;
  font-size: 14px;
}

.button:hover {
  box-shadow: 0px 0px 20px #19263A;
  border: 2px solid #78593C;
}

.button.sub-filter {
  font-size: 12px;
}

.button.sub-filter.out {
  box-shadow: 0px 0px 20px green;
}

.button.sub-filter.in {
  box-shadow: 0px 0px 20px red;
}

.tooltip-wrapper {
  display: inline-block;
}

.tooltip-wrapper .disabled {
  pointer-events: none;
}

.icon {
  margin: 5px;
  max-width: 50px;
  width: 15%;
  height: auto;
  border-radius: 50%;
  background-color: rgba(100, 0, 0, 0.1);
  transition: 1s linear all;
}

.icon.active {
  opacity: 1;
}

.icon.inactive {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
}

.bungee {
  font-family: 'Bungee', cursive;
}
.unifrak {
  font-family: 'UnifrakturMaguntia', cursive;
}
.pirata {
  font-family: 'Pirata One', cursive;
}
.metalmania {
  font-family: 'Metal Mania', cursive;
}
.jimnightshade {
  font-family: 'Jim Nightshade', cursive;
}
