<!DOCTYPE html>
<html ng-app="randomGodApp">
<head>
  <title>Smite: God Randomizer</title>
  <!--<link rel="stylesheet" href="styles.css">-->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Bungee|Jim+Nightshade|Metal+Mania|Pirata+One|UnifrakturMaguntia" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-animate.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="js/app.js"></script>
</head>

<body class="background">
  <div class="midground">
<div ng-controller="RandomGodController" class="container foreground">
  <div id="logo">
    <a href="http://www.smitegame.com"><img src="images/smite-logo.png" alt="Smite"></img></a>
      <hr>
    <p class="bungee logo-text">Random God Generator</p>
  </div>


  <div id="randomizer">
    <div class="god">
      <div class="god-pic-holder">
        <img class="god-pic" ng-src="{{chosen.Image}}" alt="{{chosen.Name}}" width="200" height="auto"></img>
      </div>
      <p class="god-name">{{chosen.Name}}</p>
      <p class="god-title jimnightshade">{{chosen.Subtitle}}</p>
      <p class="god-class-pantheon jimnightshade"> {{chosen.Pantheon}} {{chosen.Class}}</p>
    </div>
    <div class="holder">
        <button id="randomizeButton" ng-disabled="noGodsToRandomize()" ng-click="randomize()" class="button">Randomize</button>
    </div>

    <div class="holder less error-holder">
      <p class="error-text jimnightshade" ng-show="noGodsToRandomize()">{{currentError}}</p>
    </div>
    <hr>

    <div class="holder less">

    </div>

    <div class="filter-holder holder less">
      <button ng-click="activePantheon='All';activeClass='All'" class="button small"
      data-toggle="tooltip" data-placement="bottom" data-title="Reset All"
      >Filters</button>
      <div class="holder less row">
        <div class="col-md-2 col-lg-2 col-xl-2"></div>
        <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 col-xl-4">
          <button ng-click="activePantheon='All'" class="button sub-filter"
          data-toggle="tooltip" data-placement="top" data-title="Reset Pantheons"
          >Pantheon</button>
          <div class="icon-holder">
            <img ng-click="setActivePantheon(icon)" class="icon" ng-class="isActivePantheon(icon) ? 'active': 'inactive'" ng-repeat="icon in pantheons.sort()" ng-src="{{icons.Pantheon[icon]}}" alt="{{icon}}" data-toggle="tooltip" data-placement="bottom" title="{{icon}}" ></img>
          </div>
          <div class="spacer"></div>
        </div>
        <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 col-xl-4">
          <button ng-click="activeClass='All'" class="button sub-filter"
          data-toggle="tooltip" data-placement="top" data-title="Reset Classes"
          >Class</button>
          <div class="icon-holder">
            <img ng-click="setActiveClass(icon)" class="icon" ng-class="isActiveClass(icon) ? 'active' : 'inactive'" ng-repeat="icon in godClasses.sort()" ng-src="{{icons.Class[icon]}}" alt="{{icon}}" data-toggle="tooltip" data-placement="bottom" title="{{icon}}"></img>

          </div>
          <div class="spacer"></div>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2"></div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</body>
</html>
